fastapi==0.135.1
uvicorn==0.41.0
sqlalchemy==2.0.48
boto3==1.42.63
pydantic==2.12.5
pydantic-settings==2.13.1
mangum==0.21.0
python-jose[cryptography]==3.5.0
pg8000==1.31.5
scramp==1.4.8
asn1crypto==1.5.1